body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.charles {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 110px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 100%;
    padding-top: 10%;
    padding-left: -10%;
}

.hire-button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(234, 130, 111));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(Images/top-banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.pad {
    padding-right: 15%;
}

.dream {
    background-image: url(Images/dream\ bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.shadow {
    width: 40%;
    box-shadow: 10px 10px 40px orangered;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 20px;
}

#border1 {
    border-left: 7px solid tomato;
}

#border2 {
    border-left: 7px solid rgb(49, 49, 244);
}

footer p {
    text-align: center;
}